# --------------------------------------------------------------------
# DATABASE
# --------------------------------------------------------------------

DATABASE_DRIVER=sqlite
DATABASE_HOST=
DATABASE_PORT=
DATABASE_DATABASE=database.sqlite
DATABASE_USERNAME=
DATABASE_PASSWORD=
